{% extends "base.html" %}

{% block title %}学生登录{% endblock %}

{% block content %}
    <div class="box">
        <div class="left"></div>
        <div class="right">
            <h4>注册</h4>
            <form method="POST">
                <input name="student_id" class="acc" type="text" placeholder="学号*" id="student_id" autocomplete="off">
                <small class="error-msg" id="student_id_error"></small>
                <input name="name" class="acc" type="text" placeholder="姓名*" id="name" autocomplete="off">
                <small class="error-msg" id="name_error"></small>
                <input name="password" class="acc" type="password" placeholder="密码*" id="password" autocomplete="off">
                <input name="confirm_password" class="acc" type="password" placeholder="确认密码*" id="confirm_password">
                <small class="error-msg" id="confirm_error"></small>
                <input name="phone" class="acc" type="text" placeholder="手机号">
                <input name="email" class="acc" type="text" placeholder="邮箱">

                <input class="Login" type="submit" value="注册">
            </form>
            <div class="fn">
                <a href="{{ url_for('student_login') }}">已有账号？登录</a>
            </div>
        </div>

    </div>



{% endblock %}