{% extends "base.html" %}

{#{% block title %}首页 - 图书馆管理系统{% endblock %}#}

{% block content %}
<div class="homepage_box">
    <div class="left">
        <div>
            <h3 style="font-size: 3rem">热门图书推荐</h3>
            <div>
                {% if books %}
                    {% for book in books %}
                    <div class="book-item">
                        <div class="book-cover">
                            <img src="{{ url_for('static', filename=book.cover_image or 'doc/image/default.png') }}"
                                 alt="{{ book.title }}" class="book-cover-img">
                        </div>
                        <div class="book-info">
                            <h5>{{ book.title }}</h5>
                            <p>{{ book.author }}</p>
                            <p>{{ book.publisher }}</p>
                            <span class="book-status {% if book.available_count > 0 %}available{% else %}unavailable{% endif %}">
                                {% if book.available_count > 0 %}可借{% else %}已借完{% endif %}
                            </span>
                            <div>
                                {% if book.content %}
                                    <a href="{{ url_for('static', filename=book.content) }}" 
                                       download="{{ book.title }}.pdf"
                                       class="book-status available"
                                       onclick="return confirm('确认下载《{{ book.title }}》？')">下载电子书
                                    </a>
                                {% else %}
                                    <span class="book-status unavailable">暂不可下载
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>暂无图书数据</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="right">
        <div class="auth-cards">
            <div class="auth-card">
                <h4>学生登录</h4>
                <p>已有账号？直接登录</p>
                <a href="{{ url_for('student_login') }}" class="btn btn-student">学生登录</a>
            </div>

            <div class="auth-card">
                <h4>学生注册</h4>
                <p>还没有账号？立即注册</p>
                <a href="{{ url_for('student_register') }}" class="btn btn-student">学生注册</a>
            </div>

            <div class="auth-card">
                <h4>管理员登录</h4>
                <p>图书馆工作人员入口</p>
                <a href="{{ url_for('admin_login') }}" class="btn btn-admin">管理员登录</a>
            </div>
        </div class="auth-cards">
    </div>
</div>
{% endblock %}